#start{
    background-color: yellow;
   

  
}
#heading{
    color:purple;
    background-color: pink;
}
#Startbutton{
    margin-left: 45%;
}
img{
    margin-left: 6.5%;
    width: 1000px;
    height: 1000px;
     filter: blur(8px);
    -webkit-filter: blur(8px);
}